	---
import PaperCTA from "../components/PaperCTA.astro";

const navItems = [
  { name: "Forside", href: "/" },
  { name: "Kalender", href: "/kalender" },
  { name: "Tag plasteret af", href: "/tag-plasteret-af" },
  { name: "Presse / logo / kontakt", href: "/presse-logo-kontakt" },
  { name: "Om os", href: "/om-os" }
];
---
    <header class="site-header">
			<a href="/" class="logo" aria-label="Gå til forsiden">
				<img src="/imgs/mørkt-logo.webp" alt="Mørkt Logo" />
			</a>
			<PaperCTA
  text="Menu"
  image="/imgs/cta1.webp"
  variant="button"
/>
			<nav id="main-nav" class="main-nav" aria-label="Hovedmenu">
				<ul>
      {navItems.map((item) => (
        <li>
          <a href={item.href}>{item.name}</a>
        </li>
      ))}
    </ul>
  </nav>
</header>

<script>
  const toggleButton = document.querySelector(".menu-toggle");
  const nav = document.querySelector(".main-nav");

  toggleButton?.addEventListener("click", () => {
    const isOpen = nav?.classList.toggle("is-open");
    toggleButton.setAttribute("aria-expanded", String(isOpen));

    if (isOpen) {
      toggleButton.setAttribute("aria-label", "Luk menu");
    } else {
      toggleButton.setAttribute("aria-label", "Åben menu");
    }
  });
</script>